:root {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Mona Sans";
  src: url("./assets/fonts/MonaSans-Light.woff2");
}

html {
  font-family: "Mona Sans";
}

body {
  width: 100%;
}
